<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="DbConn" connectionString="Data Source=localhost;Initial Catalog=Education_Dd;User ID=sa; Password=oLdViCtOrY2008;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  
  <add name="Education_DbEntities" connectionString="metadata=res://*/Education_Db.csdl|res://*/Education_Db.ssdl|res://*/Education_Db.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Education_Db;user id=sa;password=oLdViCtOrY2008;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>