
@{
    ViewBag.Title = "Create";

}

<div class="row match-height" >
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-form-center">Student Attendance Report</h4>
                <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">

                        <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                        <li><a data-action="expand"><i class="icon-expand2"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="card-body collapse in">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-6">




                            <div class="form-body">
                              


                                <div class="form-group" >
                                    <label for="AttendanceDate">Attendance Date</label>
                                    <input id="AttendanceDate" class="form-control datepicker" type="text" placeholder="Attendance Date" name="AttendanceDate"  data-date-format="mm/dd/yyyy" date='MM/dd/yyyy' required />
                                   
                                </div>
                              

                            </div>

                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                    <div class="form-actions">

                        <button type="submit" class="btn btn-primary" >
                            <i class="icon-check2"></i> Show
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


